<div class="container">
		<form class="modalForm" id="validation">
                <div class="form-row">
                    <div class="col-md-12 ">
                        <label for="validationDefault01">Nombre del
                            adoptante</label>
                        <input type="text" class="form-control"
                            placeholder="Escribe tu nombre completo" id="pet-breed"
                            required autocomplete="off">
                    </div>
                    <div class="col-md-12 ">
                        <label for="validationDefault02">Direccion</label>
                        <input type="text" class="form-control"
                            placeholder="Escribe tu direccion" id="pet-name"
                            required autocomplete="off">
                    </div>
                    <div class="col-md-12">
                        <label for="validationDefault03">Telefono</label>
                        <input class="form-control" rows="3"
                            placeholder="Escribe tu Telefono" id="pet-age" required autocomplete="off">
                    </div>
                
                </div>


                <!-- 	<div class="form-group">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required autocomplete="off">
<label class="form-check-label" for="invalidCheck2">
    Agree to terms and conditions
</label>
</div>
</div> -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                        <!-- Button trigger modal -->
                    <button type="submit" id="submit-button"
                        class="btn"data-toggle="modal" data-target="#exampleModalCenter">Save changes</button>
                </div>
            </form>
				
				
	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-info" id="exampleModalLongTitle">¡Enhorabuena!</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-success">
					Su registro ha sido guardado exiosamente.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>
			</form>

</div>